/*Some CSS*/
* {margin: 0; padding: 0;}
.magnify {
	width: 338px;
	/*margin: 50px auto;*/
	position: relative;
	display: inline-block;
}

.large {
	width: 225px;
	height: 225px;
	position: absolute;
	border-radius: 100%;

	box-shadow:
		0 0 0px rgba(255, 255, 255, 0.85),
		0 0 0px 0.2px rgba(0, 0, 0, 0.25),
		inset 0 0 20px 2px rgba(0, 0, 0, 0.45);

	display: none;
}

.large:before{
		content: "";
		width: 20px;
		height: 20px;
		background: red;
}

/*To solve overlap bug at the edges during magnification*/
.small { display: block; }
